 .DialogPage__DialogList{
     border-right: solid 1px ;
     min-height:90vh;
     max-width: 200px;
    

 }
 .avatar{
    border-radius: 100%;
    width: 50px;
    height: 50px;
    object-fit: cover;
    padding: 1%;
}
.DialogItem{
    display:flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: solid 1px gray;
    text-overflow:ellipsis;
    max-width: 100%;
    height: 67.4px;
    
    :last-child{
        max-width: 1fr;
        word-wrap:break-word;
        text-overflow: ellipsis;
        line-break: strict;
        overflow: hidden;
        white-space: nowrap;
        margin-bottom: 0;
        flex-grow: 1;
    }
    
}
.textblock{
    max-width: inherit;
    word-wrap:break-word;
    
}
@media (max-width: 699px) {
    .textblock{
        display: none;  
    }
    .DialogItem{
        max-width: fit-content;
        padding: 5px;
    }
    .DialogPage__DialogList{
        max-width: fit-content;
    }
    .avatar{
        border-radius: 100%;
        width: 25px;
        height: 25px;
        object-fit: cover;
        padding: 1%;
    }
}
h4{
    font-size:medium;
}
h5{
    font-size: small;
}
h6{
    font-size: smaller;
}