.Header{

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-bottom: auto;
    align-items: center;
    background-color:#4267B2;
    
    @media (max-width: 699px) {

        justify-content: space-evenly;
    
    }

padding: 5px;


    grid-area: header;

    img{
        width: 40px;
       
    }
}
