@media (min-width: 700px) {
.Sidebar__buttonPlatform{
 width:90%;
 display: flex;
 justify-content: center;
 flex-direction: row;
 align-content: center;
}

.Sidebar__button_hover,.Sidebar__button_unhover{
    
    border-width: 0.1px;
    
    display: block;
    margin-top:8px;
    min-width: 91px;
    border-color: none;
    border-style: none; 
    height:25px;
    color:#949494;
    //outline-style: solid;
    text-decoration: none;
    text-align: center;
    //line-height: 2;
    width:85%;
    text-align: left;
    padding-left: 5px;

    

   
    
}


.Sidebar__buttonPlatform:hover .Sidebar__button_unhover,
.Sidebar__buttonPlatform .Sidebar__button_hover{
   display:none;
    
}
.Sidebar__buttonPlatform:hover .Sidebar__button_hover{
    display: block;
    background-color:rgb(212, 212, 212);
    border-color: rgba(212, 212, 212,0);
    border:none;
    color: rgb(77, 77, 77);
    //transform: scale(1.05);
    //box-shadow: 1px 1px black;
    
}
.active{
    background-color: rgb(212, 212, 212);;
}
//

.Sidebar__button_hover_Mini,.Sidebar__button_unhover_Mini{
    display:none;
}

}
@media (max-width: 699px) {
    .Sidebar__buttonPlatform{
        
        display: flex;
        justify-content: center;
        flex-direction: row;
        align-content: center;
       }
       
       .Sidebar__button_hover_Mini,.Sidebar__button_unhover_Mini{
           
         
           
           display: block;
           margin-top:8px;
           
           
           border-color: none;
           border-style: none; 
           height:25px;
           color:#949494;
           //outline-style: solid;
           text-decoration: none;
           text-align: center;
           //line-height: 2;
           
           text-align: left;
           
       
           
       
          
           
       }
       
       
       .Sidebar__buttonPlatform:hover .Sidebar__button_unhover_Mini,
       .Sidebar__buttonPlatform .Sidebar__button_hover_Mini{
          display:none;
           
       }
       .Sidebar__buttonPlatform:hover .Sidebar__button_hover_Mini{
           display: block;
          
           border:none;
          
           //transform: scale(1.05);
           //box-shadow: 1px 1px black;
           
       }
       .active{
           color:blue;
       }
       //
       .Sidebar__button_hover{display: none;}
       .Sidebar__button_unhover{display: none;}

}