.newPostArea{

}
.Post{
    width:100%;
    display: flex;
    flex-direction: column;
    padding: 2%;
    border-width: 1px 0px 1px 0px;
    border-style: solid;
    border-color: rgb(228, 228, 228);
    max-height: 100vh; 
}