 .DialogField{
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: inherit;
  max-height: 90vh;
  overflow-y: scroll;

 }

.MessageBoxLeft{
   align-self: flex-start;
   .message{
      border-radius: 15px 15px 15px 0px;
      .date{
         text-align: left;
         
      }
   }
 }
.MessageBoxRight{
align-self: flex-end;
flex-direction: row-reverse;
.message{
   border-radius: 15px 15px 0px 15px;
   .date{
      text-align: right;
      
   }
}
 }

:is(.MessageBoxLeft,.MessageBoxRight){
max-width: inherit;
text-align: left;

padding: 5px;
display:flex;
align-items: flex-end;

.message{
   max-width: 80%;
   border: solid 1px;
   text-align: left;
   min-width: 5vw;
   line-height: 2;
   padding: 0.3rem;
   margin-bottom: 0.5rem;
   display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
 
  
  .date{
     font-size: smaller;
     color:lightgrey;
     width:100%;
  }
  
  //text-overflow: clip;
  overflow-wrap: anywhere;
   
}
 .avatar{
   border-radius: 100%;
    width: 50px;
    height: 50px;
    object-fit: cover;
    padding: 1%;
    @media (max-width: 699px) {
      width: 25px;
      height: 25px;
    }
}
 }
